*{
    font-family: Roboto,'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family:'Helvetica Neue', sans-serif;
    background-color: #9481e9;
    padding-top: 60px;
    height: 100;
}